# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints
.pytest_cache/

# Virtual Environment
venv/
.venv/
env/
ENV/

# Data & Model Artifacts
*.db-journal
chroma_db/
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
